/* [ ] figure out how to do the line transition from right to left  */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;

}

.overlay{
    position: fixed;
}

.overlay.active{
    z-index: 4;
}

.main_nav_con{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navigation{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: -500px;
    width: 350px;
    height: 100%;
    background-color: #ffffff;
    border-left: 4px solid #000000;
    transition: 1s;
    z-index: 5;
    justify-content: space-around;
    top: 0;
}


.nav_con1{ 
    display: flex;
    flex-direction: column;
    padding:0 90px;
    align-items: right;
    z-index: 5;
}

.nav_con2{
    display: flex;
    flex-direction: column;
    align-items: right;
    padding: 10px;
    position: relative;
    overflow: hidden;
}

.text{
    font-family: 'JetBrains Mono', monospace;
    font-size: 20px;
    letter-spacing: 1px;
    word-wrap: none;
    text-align: right;
    font-weight: 700;
}

a, button{
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

nav{
    top: 100px;
    right: 50px;
    width: 250px;
}

.navigation ul li{
    color: #ffffff;
    padding: 20px 0 0;
    list-style-type: none;
    z-index: 5
}

.navigation a.active{
    border-bottom: 5px solid #0132AB;
}

.navigation a:hover:not(.active){
    transition: 0.25s;
    color: #0132AB;
    border-bottom: 5px solid #0132AB;
}

.hamburger, .bar{
    position: absolute;
    z-index: 100000;
}

.hamburger{
    display: flex;
    top: 2%;
    left: 97%;
    width: 30px;
    transform: translateY(-1%);
    border: 0;
    background: 0 0;
    height: 30px;
}   

.bar{
    top: 3px;
    background: #000000;
    width: 100%;
    height: 4px;
    transition: all .3s ease-in;
}

#bar2{
    top: 11px;
}

#bar3{
    top: 19px;
}

.navigation.active{
    right: 0;
}

.hamburger.open #bar1{
    transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.open #bar2{
    background-color:transparent;
}

.hamburger.open #bar3{
    transform: rotate(-45deg) translate(6px, -5px);
}

.nav_line::after{
    content: "";
    display: block;
    width: 35%;
    height: 4px; /* Adjust the thickness of the line as needed */
    background-color: #000;
    margin-top: 20px;
    margin-left: auto;
}

.nav_line_main::after{
    content: "";
    display: block;
    width: 93%;
    height: 4px; /* Adjust the thickness of the line as needed */
    background-color: #000;
    margin-top: 20px;
    margin: auto;
    position: relative;
}

.page_title{
    width: 100%;
    text-align: center;
    margin-top: 2%;
    z-index: 1;
}

.redirect_home{
    width: 100%;
    text-align: left;
    margin: 13px 0 0 25px;
    z-index: 1;
}

.redirect_home a{
    font-family: 'JetBrains Mono', monospace;
    font-size: 23px;
    letter-spacing: 1px;
    font-weight: 700;
}

.redirect_home a:hover {
    color: #0132AB;
    border-bottom: 4px solid #0132AB;
    transition: ease 0.5s;
}

.page_title{
    width: 100%;
    text-align: center;
    margin-top: 2%;
    z-index: 1;
}

.page_title h1 {
    font-family: 'JetBrains Mono', monospace;
    border-bottom: 4px solid #000000;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    line-height: 60px;
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: 700;
    position: relative;
    cursor: pointer;
}


.page_title h1:hover .dropdown_maincon {
    display: flex;
} 

.dropdown_maincon {
    position: absolute;
    top: 100%;
    /* error here */
    display: none; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 4px #000000;
    z-index: 10000;
    width: 100%;
}

.dropdown_con{
    background-color: #D9D9D9;
    width: 100%;
    height: 50%;
}

.dropdown-link {
    font-family: 'JetBrains Mono', monospace;
    line-height: 3;
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
}

.dropdown_con:hover{
    background-color: #0132AB;
    font-weight: 500;
    transition: 0.5s;
}
.dropdown_con:hover .dropdown-link {
    color: #fff; 
    font-weight: 500;
}

